<div class="container">
  <h1>Name Editor</h1>
  <app-name-editor></app-name-editor>
  <hr>
  <h1>Profile Editor</h1>
  <app-profile-editor></app-profile-editor>
  
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos">{{todo.title}}</li>
  </ul>

  <!-- ngSubmit does not allow page refresh and add FormsModule in module -->
  <form class="my-4" (ngSubmit)="inputTodoHandler($event)">  
    <input #todoInput type="text" class="form-control form-control-lg">
  </form>
</div>