<div class="container">
  <h1>Reactive Forms</h1>
  <h2> Hero Form</h2>
  <app-hero-form-reactive></app-hero-form-reactive>
  <h2>Name Editor</h2>
  <app-name-editor></app-name-editor>
  <hr>
  <h2>Profile Editor</h2>
  <app-profile-editor></app-profile-editor>
  <h2>Profile Editor by Form Builder</h2>
  <app-profile-editor-form-builder></app-profile-editor-form-builder>
  <h1>Template Driven</h1>
  <h2> Hero Form</h2>
  <app-hero-form-template></app-hero-form-template>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos">{{todo.title}}</li>
  </ul>

  <!-- ngSubmit does not allow page refresh and add FormsModule in module -->
  <form class="my-4" (ngSubmit)="inputTodoHandler($event)">  
    <input #todoInput type="text" class="form-control form-control-lg">
  </form>
</div>